img {
    max-width: 100%;
}

/* ROOT */
:root {
    --background_header: rgb(44, 62, 80);
    --background_green: rgb(26, 188, 156);
    --background_copy: rgb(58, 84, 109);
    --padding: 1.5rem;
}

/* COMMON */
header, .hero, .portfolio, .about, .contact, .location {
    padding: var(--padding) 0;
}

/* HEADER */
header {
    color: white;
    background-color: var(--background_header);
}

/* HERO */
.hero {
    color: white;
    background-color: var(--background_green);
}

.avatar {
    max-width: 150px;
}

/* PORTFOLIO */

.portfolio img {
    border-radius: 1rem;
}

/* ABOUT */
.about {
    color: white;
    background-color: var(--background_green);
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

/* LOCATION */
.location {
    color: white;
    background-color: var(--background_header);
}

.location p {
    margin-bottom: .3rem;
}

.location a {
    text-decoration: none;
    color: var(--background_green);
}