/* RESET */
img {
    max-width: 100%;
}

/* ROOT */
:root {
    --background_footer: rgb(44, 62, 80);
    --background_green: rgb(26, 188, 156);
    --background_header: rgb(58, 84, 109);
    --padding: 2rem;
}

/* COMMON */
header, .hero, .about, .location, footer {
    color: white;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: var(--background_header);
}

.hide_sm {
    display: none;
}

@media screen and (min-width: 768px) {
    .hide_sm {
        display: inline-block;
    }
    .hide_md {
        display: none;
    }
}

/* HERO */
.hero {
    background-color: var(--background_green);
}

.avatar {
    max-width: 150px;
}

/* PORTFOLIO */
.portfolio img {
    border-radius: 1rem;
}

/* ABOUT */
.about {
    background-color: var(--background_green);
}

/* LOCATION */
.location {
    background-color: var(--background_header);
}

.location a {
    color: var(--background_green);
}

.location span {
    display: inline-block;
    line-height: 35px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

/* FOOTER */
footer {
    background-color: var(--background_footer);
}